services:

  app:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "8080:8080"



    environment:
      SPRING_DATASOURCE_URL: jdbc:your_url
      SPRING_DATASOURCE_USERNAME: your_username
      SPRING_DATASOURCE_PASSWORD: your_password

    depends_on:
      - mysql

  mysql:
    image: mysql:8

    ports:
      - "3307:3306"

    environment:
      MYSQL_ROOT_PASSWORD: your_password
      MYSQL_DATABASE: your_database

    volumes:
      - mysql_volume:/var/lib/mysql

volumes:
  mysql_volume: