spring.datasource.url=your database url
spring.datasource.username=your database username
spring.datasource.password=your databae password
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

// for debugging
#logging.level.org.springframework.security=DEBUG
#logging.level.org.springframework.web=DEBUG

jwt.security=your secretKey add in jwtToken class above secretKey : @Value("${jwt.security}")